html,
body {
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.center1 {
  max-width: 50%;
  margin-top: 15%;
}
#time-counter {
  font-size: 5rem;
}
#text-box {
  padding: 5px;
  border-radius: 15px;
}
#submit {
  margin-top: 10px;
  padding: 5px 15px;
  border: 0 none;
  background: #ccc;
  color: #000;
  margin-bottom: 50px;
  border-radius: 5px;
}
.footer {
  font-size: 2rem;
  background-color: orange;
}
